/*Fonts*/

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/*Grid*/

.page {
    height: 100%;
    background-color: var(--color-extralight-grey);
}

/*Variables*/
:root {
    --color-black: #000000; 
    --color-white:#FFFFFF;
    --color-grey:#A9A9A9;
    --color-extralight-grey: #F2F2F2;
    --color-light-gray: #EEEEEE;
    --color-brown: #766357;
    --color-darker-brown: #604E43;
    --color-extradark-brown: #503E33;
    --color-blue: #81B3D2;
    --color-darker-blue:#669EC0;
    --color-extradark-blue:#5496BD;
}

/*Global*/
.page-body {
    min-width: 960px;
    margin: 0;
    padding:0;
    font-family: "PT Sans", Arial, sans-serif ;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color:var(--color-black);
    background-color: var(--color-light-gray);    

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;    
}

.container {
    width: 1200px;
    padding: 0;     
    margin: 0 auto;  
    box-sizing: border-box;
    box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.2), -12px 0 8px -4px rgba(0, 0, 0, 0.2);   
}
    
.text-center {
    text-align: center;    
}

.list-style-none {
    list-style: none;
}

.like-h1 {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
}
.like-h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}
.like-h3 {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.like-h4 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.like-h5 {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

img { 
    max-width: 100%;
    height: auto;
}

ul img {
    display: flex;
}

fieldset {
    border: 0;
}

/*Main Header*/

.main-header {
    display: flex;
}

.main-header-logo {
    width: 138px;
    height: 70px;   
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;    
}
  
 /*Main Navigation*/

 .main-navigation {
    width: 1200px;
    height: 50px;   
    position: relative;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--color-black);
    background-color: var(--color-white);   
}

.main-navigation ul{
    display: flex;   
    flex-direction: row; 
    flex-wrap: wrap;
    list-style: none;  
    padding: 0;
    margin: 0;  
}


.site-navigation li {
    padding: 10px;   
    flex: 1;  
}

.site-navigation li:nth-child(2) {
    flex: 2;    
}

.site-navigation li:nth-child(3) {
    flex: 2;    
}

.site-navigation a  {
    text-decoration: none;
    color: var(--color-black);    
}

.site-navigation a:hover {
    color: var(--color-blue);    
}
 
.site-navigation a:focus {
    color: var(--color-darker-brown) ;    
}

.site-navigation a:active {
    color: var(--color-grey);    
}
 
/* HEAD IMAGE */

.head-image {
    display: grid;   
}

.head-image-photo {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 10;  
    grid-row-start: 1;
    grid-row-end: 12;     
}

.head-image-welcome {
    grid-column-start: 1;
    grid-column-end: 12; 
    grid-row-start: 8;
    grid-row-end: 10;      
}
.head-image-figure {
    display: flex;
    grid-column-start: 1;
    grid-column-end: -1; 
    grid-row-start: 11;
    grid-row-end: 12;
}     

/* INTRO  PARAGRAPHS */

.intro {
    padding: 40px 0 40px 0;  
    background-color: var(--color-white); 
}

/*Advantages*/

.advantages-list-photo img {
    display: flex;   
}

.advantages-list-photo {
    display: flex;  
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.advantages-list-white {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;    
    margin: 0;
    padding: 50px;     
    background-color: var(--color-white);
    color: var(--color-black);
}

.advantages-list-white li {
   display: flex;
   flex-direction: column;
   align-content: center;    
}

.advantages-list-white .burger-icon{
    display: flex;
    margin: 20px 0 0 98px;  
 }

 .advantages-list-white .present-icon{
    display: flex;
    margin-left: 95px; 
 }

 .advantages-list-white .home-icon {
    display: flex;
    margin: 18px 0 0 90px;  
 }

.advantages-list-grey {
    margin: 0;
    padding: 0;
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    list-style: none;    
    background-color: var(--color-light-gray);
}

.advantages-list-grey li {
    padding: 35px;
    color: var(--color-black);    
}

.advantages-blue {   
    width: 400px;
    color: var(--color-white);
    background-color: var(--color-blue);
}

/*Button*/

.button-blue {
    font: inherit;
    color: var(--color-white);
    background-color: var(--color-blue);
    vertical-align: middle;
    outline: 0;
    border: none;  
}

.button-blue:hover {
    color: var(--color-white);
    background-color: var(--color-darker-blue);   
}

.button-blue:focus {
    color: var(--color-white);
    background-color: var(--color-extradark-blue);     
}

.button-blue:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: var(--color-extradark-blue);    
}

.button-brown {
    font: inherit;
    color: var(--color-white);
    background-color: var(--color-brown);
    vertical-align: middle;
    outline: 0;
    border: none;
}

.button-brown:hover {
    color: var(--color-white);
    background-color: var(--color-darker-brown);    
}

.button-brown:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: var(--color-extradark-brown);   
}  

.button-transparent {
    width: 137px;
    height: 37px;
    font: inherit;
    color: var(--color-white);
    background-color: transparent; 
    border: 1px solid white;
    outline: 0;
    text-transform: uppercase; 
    margin-top: 20px;
    margin-left: 40px;   
}  

.button-transparent:hover {
    font: inherit;
    color: var(--color-black);
    background-color: var(--color-white); 
    border: 1px solid white;
    outline: 0;
}

.appointment-form .button-blue {
    width: 458px;
    height: 58px;   
}

.hotel-item-info .button-brown {
    width: 142px;
    height: 27px;
}

.hotel-item-info .button-blue {
    width: 110px;
    height: 27px;   
}

/*Appointment*/

.interested {
    padding: 50px  0 50px 0;
    background-color: var(--color-white); 
    z-index: 1;
    grid-column-start: 1;
    grid-column-end: -1; 
    grid-row-start: 1;
    grid-row-end: 4;
}


.appointment-info {
    display: table-cell;
    width: 568px;
    height: 86px;
    background-color: var(--color-brown);
    color: var(--color-white);
    vertical-align: middle;
    z-index: 2;
}

.appointment-info:hover {
    background-color: var(--color-darker-brown);
    color: var(--color-white) ;
}

.appointment-info:active{
    background-color: var(--color-extradark-brown);
    color: rgba(255, 255, 255, 0.5);
}

.booking {
    display: grid;
    grid-template-columns: auto 568px auto;
    grid-template-rows: repeat(5, 100px);
    margin: 0px;
    padding: 0px;
}

.appointment {    
    width: 568px;
    height: 481px;
    background-color: var(--color-white);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 8;  
    z-index: 2; 
}

.appointment-bg-map {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 10;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 1;    
}

.appointment-form {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    margin: 50px 0  0 45px;     
}

.appointment-form label {
    margin-right: 15px;
}

.adults label {
    margin-right: 35px;
}

.children label {
    margin-right: 35px;
}

.appointment-form  div {
    padding: 10px;
}
 
.number-of-people {
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    
}

.date-of-arrival input {
    width: 346px;
    height: 38px;
}
.date-of-departure input {
    width: 346px;
    height: 38px;
}

.children input {
    width: 114px;
    height: 38px;
}

.adults input {
    width: 114px;
    height: 38px;
}

.form-button {
    margin-top: 15px;
}

.appointment-item input {
    box-sizing: border-box;
    font: inherit;
    border: none;
    background-color: var(--color-extralight-grey);
}

.appointment-item input:hover {
    font: inherit;
    border: none;
    background-color: var(--color-light-gray);
}

.appointment-item input:focus {
    font: inherit;
    border: none;
    background-color: var(--color-white);
    border: solid 2px var(--color-light-gray);
    outline: none;
}

.appointment-item {
    color: var(--color-black);
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;        
}

/*CATALOG*/

/*HEAD IMAGE*/

.parameters-hotel {
     display: grid; 
     color: var(--color-white);   
}

.bg-image-parameters {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 12;  
    grid-row-start: 1;
    grid-row-end: 12; 
}

.form-parameters-hotel {
    display: flex;
    flex-direction: row;
    margin: 25px 25px 25px 100px;  
    grid-column-start: 1;
    grid-column-end: 12;  
    grid-row-start: 1;
    grid-row-end: 3;
}

.infrustructure-box {
    display: flex;
    flex: 1;   
}

.housing-type-box {
    display: flex;
    flex: 1;   
}

.price-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 90px;
    flex: 2;   
}


/* CHECK-BOXES */

.check__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;     
}

.check__box {
    position: absolute;
    width: 23px;
    height: 23px;
    margin-left: -30px;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z' fill='white'/%3E%3C/svg%3E%0A") ;
}

.check__input:checked + .check__box {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' viewBox='0 0 27 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28505 7.48601L4.45605 10.315L12.2391 18.098L26.1711 4.16601L23.3431 1.33701L12.2391 12.439L7.28505 7.48601Z' fill='white'/%3E%3Cpath d='M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z' fill='white'/%3E%3C/svg%3E");
}
    
.infrustructure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.housing-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.housing-type label {
    text-align: left;
    margin: 10px;
}

.infrustructure label {
    text-align: left;
    margin: 10px;
}

/*PRICE RANGE*/


.price {
   margin: 0;
   padding: 0;
   border: none;
   margin-left: -20px; 
}

.range-filter {
    width: 250px;
    margin-top: 20px;      
}

.price legend{
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    margin-left: -35px;
}

.range-controls .scale {
    height: 2px;
    width: 290px;
    background-color: var(--color-grey);
}

.range-controls .bar{
    height: 2px;
    width: 70%;
    background-color: var(--color-white);
}

.range-controls {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    position: relative;     
}

.price-controls {
    margin-top: -50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;    
}

.range-controls .toogle {
    position: absolute;
    top: -12px;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--color-white);
    background-color: var(--color-grey);
    border-radius: 50%;
    box-shadow: 0 2px 0 var(--color-grey);
    cursor: pointer;
}

.range-controls .toogle:hover {
    position: absolute;
    top: -12px;
    width: 5px;
    height: 5px;
    padding: 0;
    border: 10px solid var(--color-white);
    background-color: var(--color-grey);
    border-radius: 50%;
    box-shadow: 0 2px 0 var(--color-grey);
    cursor: pointer;
}

.range-controls .toogle-min {
   left: 0;
}
 
.range-controls .toogle-max {
    left: 200px;
 }

.price-controls label {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
}

.price-controls .min-price input {
    width: 140px;
    height: 25px;
    background-color: transparent;
    font-size: inherit;
    font-size: inherit;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    text-align: center;
    color: var(--color-white);
    outline: 0;
}

.price-controls .max-price input {
    width: 140px;
    height: 25px;
    background-color: transparent;
    font-size: inherit;
    font-size: inherit;
    border: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    text-align: center;
    color: var(--color-white);
    outline: 0;
}



/*HOTELS OPTIONS*/

.hotels {
  display: flex;
  background-color: var(--color-white);
  flex-direction: row;
  flex-wrap: wrap;
}

.hotels-item {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 152px;
    border: 1px solid var(--color-light-gray);
}

.hotels-item img {
    width: 135px;
    height: 90px;
    margin: 30px 30px 0 75px;  
    object-fit: contain;  
}

.hotel-item-info {
    display: flex;
    flex-direction: column;
    height: 90px;
    width: 260px;    
}

.hotel-item-info h2 {
    margin-top: 25px;
    align-self: flex-start;
}

.hotel-item-info p {
    margin-top: -10px; 
    align-self: flex-start;      
}

.rating {
    width: 130px;
    height: 27px;
    margin: 95px 0 0 500px;
    background-color: var(--color-extralight-grey);  
    text-align: center;
}

.rating-amara-resort-spa::before {  
    content: " ";
    position: absolute;
    width: 91px;
    height: 17px;
    margin: -60px 0 0 20px;     
    background: url(../img/four_blue_stars.svg);   
}

.rating-desert-quail-inn::before {  
    content: " ";
    position: absolute;
    width: 66px;
    height: 17px;
    margin: -60px 0 0 40px;     
    background: url(../img/three_blue_stars.svg);   
}


.rating-villas-at-poco-diablo::before {  
    content: " ";
    position: absolute;
    width: 42px;
    height: 17px;
    margin: -60px 0 0 65px;     
    background: url(../img/two_blue_stars.svg);   
}

.hotel-info-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

.search {
    display: flex;
    flex-direction: row;
    background-color: var(--color-white);
    height: 86px;    
    border: 1px solid var(--color-light-gray);
}

.search ul {
    list-style: none;
    padding: 0;
    margin: 0;   
}

.found-number {
    margin: 30px 0 0 80px;
    flex: 1;  
}

.search .like-h5 {
    margin: 35px 0 0 35px;
    flex: 1;
}

.sorting {    
    display: flex;
    flex-direction: row;  
    justify-content: flex-start;
    flex: 6;  
}

.sorting li {    
   margin: 33px 0 0 25px;  
}

.sorting a{ 
    border-bottom: 2px dotted var(--color-blue);
    color: var(--color-grey);
    text-decoration: none;
}

.sorting a:hover {    
    border-bottom: 2px dotted var(--color-blue);
    color: var(--color-blue);
}

.sorting a:focus {    
    color: var(--color-blue);
    border: none;
}

.sorting a:active {  
    color: var(--color-black);
    border: none;
}


.prev-next{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: end;
    align-self: center;
    flex: 1;   
}  

.prev-next a:hover path {
    fill: var(--color-grey);    
}

.prev-next a:hover path {
    fill: var(--color-black);    
}

.prev-next a:focus path{
    fill: var(--color-blue);    
}

.prev-next a:active path{
    fill: var(--color-blue);    
}


/*FOOTER*/

.main-footer {
    height: 120px;
    margin-top: -120px;
    display: flex;
    justify-content: center;
    gap: 150px;
    background-color: rgba(255, 255, 255, 0.8); 
    z-index: 2;    
}

.main-footer-catalog {
    display: flex;
    justify-content: center;
    gap: 150px;
    padding-bottom: 10px;
    background-color: var(--color-white); 
}


.footer-hashtag {
    font-size: 21px;
    font-weight: 700;  
}

.contacts-phone {
    color: inherit;    
    font-size: 21px;
    font-weight: 700;
    line-height: 10px;
    text-decoration: none;  
}


.footer-social {
    display: flex;
    align-self: center;
    gap: 5px;    
}

.footer-copyright {
    display: flex;
    width: 200px;
    height: 41px;
    justify-content: space-between;
    margin-top: 38px;  
}

.social-button img {
    width: 26px;
    height: 28px;
    background-color: var(--color-blue); 
    background-size: 100px;
    padding: 15px;
}

.social-button:hover img {
    background-color: var(--color-darker-blue);    
}

.social-button:active img {
    background-color: var(--color-extradark-blue);    
}

.footer-copyright:hover path{
    fill: var(--color-blue);    
}

.footer-copyright:active path{
    fill: var(--color-grey);    
}




