/*Fonts*/

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/*Variables*/

:root {
    --color-black: #000000; 
    --color-white:#FFFFFF;
    --color-grey:#A9A9A9;
    --color-extralight-grey: #F2F2F2;
    --color-light-gray: #EEEEEE;
    --color-brown: #766357;
    --color-darker-brown: #604E43;
    --color-extradark-brown: #503E33;
    --color-blue: #81B3D2;
    --color-darker-blue:#669EC0;
    --color-extradark-blue:#5496BD;
}

/*Global*/
.page-body {
    min-width: 960px;
    margin: 0;
    padding:0;
    font-family: "PT Sans", Arial, sans-serif ;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color:var(--color-black);
    background-color:var(--color-white);    
}

.text-center {
    text-align: center;    
}

.list-style-none {
    list-style: none;
}

.like-h1 {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
}
.like-h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}
.like-h3 {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.like-h4 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.like-h5 {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}


img {
    max-width: 100%;
    height: auto;
}

/*Main Navigation*/

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--color-black);
    background-color: var(--color-white);    
}

.site-navigation {
    list-style: none;
}

.navigation-items{
    text-decoration: none;
}

.container {
    background-color: var(--color-white);
}

.introduction {
        font-size: 14px;
        line-height: 26px;
        font-weight: 700;
}


/*Advantages*/

.advantages-list {
    list-style: none;
}

.advantages-blue {
    color: var(--color-white);
    background-color: var(--color-darker-blue);
}

.advantages-white {
    color: var(--color-black);
    background-color: var(--color-white);
}
.advantages-grey {
    color: var(--color-black);
    background-color: var(--color-light-gray) ;
}

/*Button*/

.button-blue {
    font: inherit;
    color: var(--color-white);
    background-color: var(--color-blue);
    vertical-align: middle;
    border: none;
}

.button-blue:hover {
    color: var(--color-white);
    background-color: var(--color-darker-blue);    
}

.button-blue:active {
    color: var(--color-white);
    background-color: var(--color-extradark-blue);    
}

.button-brown {
    font: inherit;
    color: var(--color-white);
    background-color: var(--color-brown);
    vertical-align: middle;
    border: none;
}

.button-brown:hover {
    color: var(--color-white);
    background-color: var(--color-darker-brown);    
}

.button-brown:active {
    color: var(--color-white);
    background-color: var(--color-extradark-brown); 
}  

.button-transparent {
    font: inherit;
    color: var(--color-white);
    background-color: none;
    border: 2px solid white;
}




/*Appointments*/

.appointment-item input {
    font: inherit;
    border: none;
    background-color: var(--color-extralight-grey);
}
.appointment-item {
    color: var(--color-black);
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;        
}

.appointment-info {
    background-color: var(--color-brown);
    color: var(--color-white);
}

   

/*FOOTER*/

.main-footer {
    background-color: gba(255, 255, 255, 0.9); 
}

.footer-hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.contacts-phone {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-decoration: none;
}

